@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root{
    --orange:hsl(26, 100%, 55%);
    --pale-orange:hsl(25, 100%, 94%);

    --very-dark-blue:hsl(220, 13%, 13%);
    --dark-grayish-blue:hsl(219, 9%, 45%);
    --grayish-blue:hsl(220, 14%, 75%);
    --light-grayish-blue:hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black:hsl(0, 0%, 0%);
    --blackish:hsla(0, 0%, 0%, .7);

    --font-sz:16px;
    --font:'Kumbh Sans', sans-serif;

}
*,
::before,
::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--font);
    height: 100vh;
    position: relative;
    width: 100vw;
}
.hdr-container{

    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-container-header{
    display: flex;
}

.hide-show-menu-container{
    position: relative;
    top: 5px;
    display: grid;
    height: 17px;
    width: 15px;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}
.hide-show{
    display: block;
    height: 17px;
    width: 15px;
    background-image: url("../images/icon-menu.svg");
    background-repeat: no-repeat;
}
.hide-show.active{
    position: absolute;
    z-index: 101;
    display: block;
    height: 17px;
    width: 15px;
    background-image: url("../images/icon-close.svg");
    background-repeat: no-repeat;
}
.toggle-menu-wrapper{
    display: none;
}
.toggle-menu-wrapper.active{
    display: block;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--blackish);
    z-index: 100;
}
.toggle-menu a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 16px;
}
.toggle-menu.active{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    opacity: 1;
    height: 100vh;
    width: 75vw;
    position: absolute;
    padding-top: 90px;
    padding-left: 1rem;
}

.right-container-header{
    display: flex;
    gap: 1.5rem;
}

.r-items{
    display: grid;
    justify-content: center;
    align-items: center;
}
.r-items img{
    cursor: pointer;
}

#profile-pic:hover{
    border: 2px solid var(--orange);
    border-radius: 50%;
    overflow: hidden;
}

.cart{
    display: none;
}
.cart.active{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--white);
    display: block;
    margin:10px auto;
    right: 0;
    left: 0;
    width: 90vw;
    height: 300px;
    position: absolute;
    z-index: 10;
}
.cart-title{
    display: grid;
    border-bottom: 1px solid var(--grayish-blue);
    align-items: center;
    height: 5rem;
    padding: 1.5rem;
}

.all-photos{
    display: none;
}
.lightbox-wrapper{
    width: 100vw;
}

.empty-cart{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}
#preview{
    width: 100vw;
    height: 40vh;
}
.prev-next-container{
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--white);
    width: 40px;
    height: 40px;
}
.prev{
    position: absolute;
    left: 1rem;
    top: 25%;
}
.next{
    position: absolute;
    top: 25%;
    right: 1rem;
}

.info-container{
    padding: 1.5rem;
}

#brand-name{
    color: var(--orange);
    margin: .5rem 0;
}
.title{
    font-size: 35px;
    
}
.description{
    color: var(--dark-grayish-blue);
    margin: 1rem 0;
}
.price-container{
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
}
.price-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
#price{
    font-size: 35px;
}

#discount-box{
    background-color: var(--pale-orange);
    border-radius: 5px;
    color: var(--orange);
    height: fit-content;
    margin-left: 1rem;
    padding: 5px 10px;
}
.full-price-wrapper{
    display: grid;
    justify-content: center;
    align-items: center;
}
#full-price{
    color: var(--grayish-blue);
    text-decoration:line-through;
    font-weight: 700;
    font-size: 16px;
}

.nr-of-items{
    background-color: var(--light-grayish-blue);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    padding: 1.5rem;
}
.minus{
    padding-bottom: 5px;
    cursor: pointer;
}
.plus{
    cursor: pointer;
}

#num{
    font-weight: 700;
}

#addToCart{
    align-items: center;
    background-color: var(--orange);
    border: none;
    border-radius: 10px;
    color: var(--white);
    display: flex;
    font-weight: 700;
    font-size: 1rem;
    gap: 1rem;
    height: 68px;
    justify-content: center;
    padding: 1.5rem;
    width: 100%;
    cursor: pointer;
}

@media only screen and (min-width: 600px) {

    #preview{
        width: 100vw;
        height: 50vh;
    }
}

@media only screen and (min-width: 1440px) {

    body{
        padding: 0 10vh;
    }
    .hdr-container{
        height:fit-content;
        padding: 0;
        border-bottom: 2px solid var(--light-grayish-blue);
    }
    .left-container-header{
        justify-content: center;
        align-items: center;
    }
    .hide-show-menu-container{
        display: none;
    }
    .toggle-menu-wrapper{
        display: block;
    }
    
    .toggle-menu a{
        color: var(--dark-grayish-blue);
        height: 100%;
    }
    .nav-wrapper{
        height: 100px;
        display: grid;
        justify-content: center;
        padding: 40px 0;
        align-items: center;
    }
    .nav-wrapper:hover{
        border-bottom: 3px solid var(--orange);
    }
    .toggle-menu{
        margin: 0 30px;
        display: flex;
        gap: 30px;
    }
    .cart.cart.active{
        width: 20vw;
        height: 280px;
        margin: 10px 0;
        right: 2vw;
        left: auto;
    }
    .product-wrapper{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        gap: 100px;        
        margin: 50px ;
    }
    .lightbox-wrapper{
        position: relative;
        width: inherit;
    }
    .prev{
        display: none;
    }
    .next{
        display: none;
    }
    #preview{
        width: 500px;
        height: 450px;
        border-radius: 10px;
    }
    .all-photos{
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        margin-top: 20px;
        
    }
    .img-list:hover{
        cursor: pointer;
        border: 2px solid var(--orange);
    }
    .img-list{
        border-radius: 10px;
        width: 100px;
        height: 100px;
    }

    .info-container{
        width: 600px;
    }
    .title{
        margin-top:2rem ;
    }
    .description{
        margin: 20pxrem 0;
    }
    .price-wrapper{
        display: flex;
        justify-content: flex-start;
    }
    .price-container{
        display: block;
    }
    .full-price-wrapper{
        display: block;
        margin: 1rem 0;
    }
    .num-of-items-and-cart-wrapper{
        padding: 1rem 0;
        display: grid;
        grid-template-columns: 35% 60%;
        column-gap: 1rem;
    }
    .nr-of-items{
        height: 50px;
        margin-right: 1rem;
    }
    #addToCart{
        margin-top: 1rem;
        height: 50px;
    }
}

